<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>등록 페이지</title>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/css/register.css">
        <script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    </head>
    <body>
        <div id="wrap">
            <section id="resister">
            <!-- 등록 정보 -->
                <ul class="resist">
                    <li>
                        <span>회 사</span>
                        <select class="company-name">
                            <option value="회사1">회사1</option>
                            <option value="회사2">회사2</option>
                            <option value="회사3">회사3</option>
                            <option value="회사4">회사4</option>
                        </select>
                    </li>
                    <li>
                        <span>등록자</span>
                        <input class="user-name" type="text">
                    </li>
                    <li>
                        <span>등록일자</span>
                        <input class="start-date" type="text" readonly>
                    </li>
                    <li>
                        <span>비밀번호</span>
                        <input class="user-pw" type="password">
                    </li>
                    <li>
                        <span>첨부파일</span>
                        <input type="file">
                    </li>
                </ul>
            <!-- 타이틀 -->
                <div class="title">                    
                    <span>제 목</span>
                    <input type="text" class="post-title" placeholder="제목을 입력 해주세요">
                </div>
            <!-- 본문내용 -->
                <article>
                    <textarea name="" class="post-content" cols="30" rows="10" placeholder="내용을 입력 해주세요"></textarea>
                    <button class="btn resist-btn">등록하기</button>
                </article>
            </section>
        </div>
        <script src="../static/js/index.js"></script>
        <script src="../static/js/register.js"></script>
    </body>
</html>
